<!DOCTYPE html>
	<html>
		<head>
			<meta charset="utf-8">
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<header>
				<p>这里是信的个人主页</p>
			</header>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:slp2071700275abc@outlook.com">与我联系</a></li>
	        		<li><a href="https://github.com/slp2025">信的GitHub主页</a></li>
			</ul>
			</footer>
		</body>
	</html>
